body {
    font-family: Montserrat,sans-serif;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
a,a:hover{
    text-decoration:none !important;
    color:#5a5c51 !important;
    outline: 0!important;
}
h4,h2,h3{
    color:#5a5c51 !important;
}
.heade:active{
    content: '';
    display: block;
    height: 3px;
    margin:auto;
    width:100%;
    background: transparent;
    transition: all .3s ease;
}
.heade:after {
    content: '';
    display: block;
    height: 3px;
    margin:auto;
    width:0;
    background: transparent;
    transition: all .3s ease;
}
.heade:hover,.heade:focus,.heade:active{
    transform:scale(1.1);
    transition: all .3s ease;
    color:red;
  }
  .heade:hover:after,.heade:focus:after {
  width:100%;
  background:red;
  }
.navbar{
    background-color: black!important;
}
.navbar-nav{
    overflow-y: hidden!important;
    overflow-x: hidden!important;
    background-color: black!important;
}
.set-navbar {
    height: 100px;
    border-bottom: 0px;
}
.scrollable{
    font-family: Helvetica, sans-serif;
    padding-top:40px!important;
}
.makeitwhite{
    color:white!important;
}
.makeitred{
    color:red!important;
}
.makeitgrey{
    color:#5a5c51!important;
}
.logo img{
    height: 80px;
    width: 194px;
}
.carousel-inner{
    width: 100%!important;
    height: 80%;
    margin:auto;
}
.main #myCarousel {
    width: 80%;
}
.main #myCarousel .carousel-inner .item{
    height: 250px;
}
/*filler PAGE starts HERE */
.parallax {
    background-image: url('../banner2.jpg'); 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .parallax{
            background-position: 81%  !important;
    }
}
.filler{
    margin-top:90px!important;
}
.filler hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(209, 209, 209);
    margin: auto;
    padding: 0; 
    width:70%;
}
.heading2{
    font-family: 'Nunito', sans-serif;
    color:red;
    font-size:30px;
}
.details{
    font-family: Helvetica, sans-serif;
    color:#5a5c51;
    font-size:30px;
}
.navhead{
    font-family: 'Arimo', sans-serif;
    color:white!important;
    font-size:15px;
}
.filler .intro .jumbotron{
    background-color:#ebebeb;
    margin-left:auto;
    margin-right: auto;
    height:auto;
    width:70%;
    margin-top:-80px;
    border-radius: 20px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    color:#5a5c51;
}

.filler .intro .jumbotron:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	background-color:white;
	height:80%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    transform:scale(1.1);}
/* <!--------- Landing page ends here -----------------> */

/* Footer starts here*/
#map{
    width: 100%;
    height: 150px;
    background-color: grey;
    padding :30px;
}
.footer{
    height:250px;
    width:100%;
}
.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(209, 209, 209);
    margin: auto;
    padding: 0; 
    width:70%
}